{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block body %}
    <!-- Add Todo Form -->
 <form method="POST" action="/">
    <div class="mb-3">
        <label for="title" class="form-label">Document Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Enter title of Document" required>
    </div>
    <div class="mb-3">
        <label for="subject_name" class="form-label">Subject Name</label>
        <input type="text" class="form-control" name="subject_name" id="subject_name" placeholder="Enter subject name" required>
    </div>
    <div class="mb-3">
        <label for="course_name" class="form-label">Course Name</label>
        <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Enter course name" required>
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Document Link</label>
        <input type="url" class="form-control" name="link" id="link" placeholder="Enter URL of Document" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    

    <!-- Todo Table -->
    <div class="container mt-4">
      <h2>Book List</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Course Code</th>
            <th scope="col">Time</th>
            <th scope="col">Link</th>

           <!-- <th scope="col">Actions</th>  -->
          </tr>
        </thead>
        <tbody>
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ todo.title or "N/A" }}</td>
            <td>{{ todo.subject_name or "N/A" }}</td>
            <td>{{ todo.course_name or "N/A" }}</td>
            <td>{{ todo.date_created.strftime('%Y-%m-%d %H:%M:%S') if todo.date_created else "N/A" }}</td>
           <!--- <td>
              <a href="/update/{{ todo.sno }}" type="button" class="btn btn-outline-success mx-2">Edit</a>
              <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-outline-danger mx-2">Delete</a>
            </td>-->
            <td>
              {% if todo.link %}
                  <a href="{{ todo.link }}" target="_blank">Open Document</a>
              {% else %}
                  No Link
              {% endif %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
